{% extends 'base_generic.html' %}
{% load i18n %}

{% block container %}
<div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
        {% if form.errors %}
            <div class="alert alert-danger">
                <p><strong>{% trans "Erro!" %}</strong> {% trans "Please enter a correct username and password. Note that both fields are case-sensitive." %}</p>
            </div>
        {% endif %}
        <div class="login-title">
           <span>{% trans 'Log in' %}</span>
        </div>
      
        <form action="{% url 'login' %}" method="post" class="form-signin" role="form">{% csrf_token %}            
            {% for field in form %}
                {% include 'registration/form_field.html' %}
            {% endfor %}
            <div class="form-group">     
                <button type="submit" class="btn btn-block btn-lg btn-success">{% trans 'Log in' %}</button>   
            </div>
           <p class="need-help"><a href="{% url 'password_reset' %}">{% trans "Reset my password" %}</a></p>
        </form>        
        <script type="text/javascript">
            $(function(){
                $(".alert-message").alert();
                $('#mainForm').submit(function(){
                    $('#submit').button('loading');
                })
            });
            document.forms[1].elements[2].focus();
        </script>
    </div>
</div>