{% extends "ces/base_reserva.html" %}
{% load custom_tags %}

{% block title %} Fazer Reserva | {{ block.super }} {% endblock %}


{% block breadcrumb %}
{{ block.super }} / <a href="{% url 'fazer_reserva' %}">Fazer Reserva</a>
{% if current_tipo %}
 / <a href="{% url 'fazer_reserva' tipo=current_tipo.id %}">{{current_tipo.nome}}</a>
{% endif %}
{% endblock %}


{% block area %}
{% if objeto_list %}
{% for objeto in objeto_list %}
<div class="col-sm-4 col-md-4">
    <div class="thumbnail">
        <span title="{{objeto.tipoObjeto.nome}}">{{objeto.tipoObjeto.icone.as_html}}</span>
        <p class="pull-right" >{{objeto.get_status_display}}</p>
        <hr>
        <div class="caption">
            <h4><a href="{% url 'reserva_new' objeto.id %}">{{ objeto.nome }}</a></h4>
            <p class="label">Código</p>
            <p class="campo">{{ objeto.codigo }}</p>
        </div>
        <hr>
        <div class="footer">
            <p>
              <a href="{% url 'reserva_new' objeto.id %}">
                  {% if objeto.status != 1 %}
                    ver detalhes
                  {% else %}
                    Reservar
                  {% endif %}
               </a>
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div>
  <p>Não há objetos cadastrados.</p>
</div>
{% endif %}
{% if is_paginated %}
<div class="pagination">
  <span class="page-links">
        {% if page_obj.has_previous %}
         <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
         {% endif %}
          <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span> {% if page_obj.has_next %}
  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a> {% endif %}
  </span>
  </div>
{% endif %}
{% endblock %}
