{% extends "ces/base_reserva.html" %} {% block titlepage %}
<header class="page-heading">
  <div class="container">
    <h1>
      Fazer reserva
    </h1>
  </div>
</header>
{% endblock %}
{% block area %}
{% if objeto_list %}
{% for objeto in objeto_list %}
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <i class="{{objeto.tipoObjeto.icone}}"></i>
        <div class="caption">
            <h4 class="pull-right">{{objeto.status}}</h4>
            <h4><a href="{% url 'reserva_new' objeto.id %}">{{ objeto.codigo }}</a></h4>
            <p>{{ objeto.nome }}</p>
        </div>
        <div class="ratings">
            <p>
              <a href="{% url 'reserva_new' objeto.id %}">
                  ver detalhes
               </a>
            </p>
        </div>
    </div>
</div>
 {% endfor %}
{% else %}
    <p>Não há objetos cadastrados.</p>
 {% endif %}
{% if is_paginated %}
<div class="pagination">
  <span class="page-links">
        {% if page_obj.has_previous %}
         <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
         {% endif %}
          <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span> {% if page_obj.has_next %}
  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a> {% endif %}
  </span>
</div>
{% endif %}
{% endblock %}