{% extends "base_generic.html" %}

{% block content %}
    <h1>Objetos emprestados</h1>

    {% if movimentacao_list %}
    <ul>

      {% for movimentacao in movimentacao_list %}
        <!--colocar código no models para verificar prazo de entrega-->
      <li class="{% if movimentacao.devolucao %}text-sucess{% else %}text-warning{%endif%}">
        <a href="{% url 'objeto-detail' pk=movimentacao.objeto.pk %}">{{movimentacao.objeto.nome}}</a> ({{movimentacao.devolucao}})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Não há objetos emprestados.</p>
    {% endif %}       
{% endblock %}