{% extends "base_generic.html" %}

{% block content %}
    <h1>Objetos emprestados</h1>

    {% if movimentacao_list %}
    <ul>

      {% for movimentacao in movimentacao_list %}
      <li class="{% if movimentacao.devolucao %}text-sucess{% else %}text-warning{%endif%}">
        <a href="{% url 'book-detail' movimentacao.objeto.pk %}">{{movimentacao.objeto.nome}}</a>
          {% if movimentacao.devolucao %}
             {{movimentacao.devolucao}}
          {% endif %}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Não há objetos emprestados.</p>
    {% endif %}       
{% endblock %}