{% extends "ces/base_reserva.html" %}

{% block title %} {{ objeto }} | {{ block.super }} {% endblock %}

{% block area %}
 <div class="thumbnail">
    {{ objeto.tipoObjeto.icone.as_html}}
    <div class="caption">
        <h4 class="pull-right">{{objeto.status.get_choices_display}}</h4>
        <h4>{{ objeto.codigo }}</h4>
        <p>{{ objeto.nome }}</p>
    </div>
</div>
  <form id="item_reserva_form" action="{% url 'reserva_new' objeto.id %}" method="post" class="form" role="form">{% csrf_token %}
    <div class='row' >
       {% for field in form %}
         <div class="col-sm-6 col-lg-6 col-md-6">
             {% include 'ces/form_field.html' %}
         </div>
      {% endfor %}
    </div>
    <div class='row' >
     <button type="submit" class="btn btn-success">Reservar</button>
     <input type=button value="Voltar" onClick="javascript:history.go(-1);">
    </div>
  </form>
  <script>
      /*eslint-env jquery */
      jQuery('.modal-content .calendar').datepicker({ dateFormat: "yy-mm-dd" });
          var form_options = {
              target: '#modal',
              success: function() {  }
          }
          $('#item_reserva_form').ajaxForm(form_options);
  </script>
 {% endblock %}
