{% extends "ces/base_reserva.html" %}

{% load utils %}

{% block title %} {{ objeto }} | {{ block.super }} {% endblock %}

{% block breadcrumb %} {{ block.super }} / 
<a href="{% url 'reserva_new' objeto.id %}">Detalhes &rsaquo; {{objeto.nome}}</a> 
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/jquery.datetimepicker.min.css">
{% endblock %}

{% block area %}
 <div class="thumbnail">
    {{ objeto.tipoObjeto.icone.as_html}}
    <div class="caption">
        <h4 class="pull-right">{{objeto.status.get_choices_display}}</h4>
        <h4>{{ objeto.codigo }}</h4>
        <p>{{ objeto.nome }}</p>
    </div>
</div>
  <form id="item_reserva_form" action="{% url 'reserva_new' objeto.id %}" method="post" class="form" role="form">{% csrf_token %}
    <div class='row' >
       {% for field in form %}
         <div class="col-sm-6 col-lg-6 col-md-6">
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
                <div class="col-sm-9 ">
                    {{ field|add_class:'form-control calendar' }} {% if field.errors %}
                    <span class='text-danger'>{{ field.errors|join:'<br />' }}</span> {% endif %} {% if field.help_text %}
                    <span class="help-block ">{{ field.help_text }}</span> {% endif %}
                </div>
            </div>
         </div>
      {% endfor %}
    </div>
    <div class='row' style="margin-top: 15px; margin-left:6px" >
     <button type="submit" class="btn btn-success">Reservar</button>
     <input type=button class="btn btn-default" value="Voltar" onClick="javascript:history.go(-1);">
    </div>
  </form>
 {% endblock %}

{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
<script>
    /*eslint-env jquery */
    jQuery('.calendar').datetimepicker({
            format: 'd.m.Y H:i',
     });

</script>
{% endblock %}