 <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <form id="item_reserva_form" action="{% url 'fazer_reserva' objeto.id %}" method="post" class="form" role="form">{% csrf_token %}  
    <!-- Modal content-->
    <div class="modal-content">
     
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Reservar</h4>
          </div>
           
          <div class="modal-body">                   
            {% for field in form %}
                {% include 'ces/form_field.html' %}
            {% endfor %}          
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Reservar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
     
    </div> </form> 
    
        <script>
            /*eslint-env jquery */
            jQuery('.modal-content .calendar').datepicker({ dateFormat: "yy-mm-dd" });
                var form_options = {
                    target: '#modal',
                    success: function() {  }
                }
                $('#item_reserva_form').ajaxForm(form_options);
        </script>
        </div>
    </div>
    